{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "@feature-sliced"
  ],
  "ignorePatterns": ["**/dist", "src/main.original.js", "src/setupTests.js"],
  "overrides": [
    // TypeScript 파일 설정
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint", "import", "boundaries"],
      "extends": ["plugin:@typescript-eslint/recommended"]
    },
    // JavaScript 파일 설정
    {
      "files": ["*.js", "*.jsx"],
      "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
      },
      "plugins": ["import", "boundaries"]
    }
  ],
  "settings": {
    "boundaries/elements": [
      {
        "type": "app",
        "pattern": [
          "@basic/app/**",
          "src/basic/app/**",
          "@advanced/app/**",
          "src/advanced/app/**"
        ],
        "mode": "file"
      },
      {
        "type": "processes",
        "pattern": [
          "@basic/processes/**",
          "src/basic/processes/**",
          "@advanced/processes/**",
          "src/advanced/processes/**"
        ],
        "mode": "file"
      },
      {
        "type": "pages",
        "pattern": [
          "@basic/pages/**",
          "src/basic/pages/**",
          "@advanced/pages/**",
          "src/advanced/pages/**"
        ],
        "mode": "file"
      },
      {
        "type": "widgets",
        "pattern": [
          "@basic/widgets/**",
          "src/basic/widgets/**",
          "@advanced/widgets/**",
          "src/advanced/widgets/**"
        ],
        "mode": "file"
      },
      {
        "type": "features",
        "pattern": [
          "@basic/features/**",
          "src/basic/features/**",
          "@advanced/features/**",
          "src/advanced/features/**"
        ],
        "mode": "file"
      },
      {
        "type": "entities",
        "pattern": [
          "@basic/entities/**",
          "src/basic/entities/**",
          "@advanced/entities/**",
          "src/advanced/entities/**"
        ],
        "mode": "file"
      },
      {
        "type": "shared",
        "pattern": [
          "@basic/shared/**",
          "src/basic/shared/**",
          "@advanced/shared/**",
          "src/advanced/shared/**"
        ],
        "mode": "file"
      }
    ],
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
